.pizzas-container{
    padding:3rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pizza-card{
    height: 20rem;
    width: 20rem;
    position: relative;
    background:linear-gradient(transparent,rgba(0, 0, 0, 0.76));
    border-radius:2rem;
    overflow:hidden;
    margin:2rem 0;
}
.pizza-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index:-1;
}
.pizza-scroll{
    position: absolute;
    bottom: 0rem;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}
.pizza-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding:.5rem 1rem 1.5rem 1rem;
}
.pizza-scroll h2{
    margin: 0 0 .5rem 1rem;
}
button.add-pizza{
    padding: 10px 9px;
    font-size: 1.1em;
    color:white;
    background: transparent;
    border:1px solid white;
    text-transform: uppercase;
}
.available-pizzas{
    font-size: 2.5em;
    text-transform:capitalize;
    text-align: center;
    font-weight:bold;
    letter-spacing: .4cm;
    margin:3em 0;
}
.custom-pizza-button{
    width: 100%;
    background: rgb(48, 176, 1);
    font-size: 3em;
    padding:250px 20px;
    text-align: center;
    border: none;
    color: white;
    text-transform:uppercase;
}
.price{
    font-size: 2em;
}
form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    color: white;
}
form div{
    margin: 20px 0;
    font-size: 1.6em;
}
form div label{
    margin-left:30px;
}
.total-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color:white;
}
input[type="checkbox"]{
    accent-color: rgb(255, 128, 0);
}
.nav{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.shoping-icon{
    color: white;
    font-size: 1.5em;
    margin-right:20px;
}
.commanded-header{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
}
.commanded-header h2{
    font-size: 1.5em;
}
.command{
    color: white;
    flex-wrap: wrap;
    width: 100vw;
}
.command ul{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding: 0;
    width: 100vw;
}
.command ul li{
    list-style: none;
    margin:1px;
    background-color:white;
    color:rgb(185, 185, 185);
    font-size: .9em;
    letter-spacing: .4mm;
}
.quantity-container{
    display: flex;
}
.arrows{
    display:flex;
    flex-direction: column;
}
@media screen and (min-width :620px){
    .pizzas-container{
        padding:1rem 0;
    }
    .pizza-card{
        margin:2rem 3rem;
        height:23em;
        width: 23em;
    }
    .total-add{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .max-wd{
        max-width: 300px;
    }
}
@media screen and (min-width :820px){
    .pizza-card{
        height:29em;
        width: 29em;
    }
}