@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Slab';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgb(255, 128, 0);
  background: rgb(185, 185, 185);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
